<ion-header translucent>
  <ion-toolbar>
    <ion-title>Modal</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsa perferendis
    id aut libero at et culpa, repellendus, iusto autem minima laudantium iure?
    Nesciunt, dolor beatae! Dolore exercitationem adipisci harum perspiciatis.
  </p>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsa perferendis
    id aut libero at et culpa, repellendus, iusto autem minima laudantium iure?
    Nesciunt, dolor beatae! Dolore exercitationem adipisci harum perspiciatis.
  </p>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsa perferendis
    id aut libero at et culpa, repellendus, iusto autem minima laudantium iure?
    Nesciunt, dolor beatae! Dolore exercitationem adipisci harum perspiciatis.
  </p>
</ion-content>
