<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Blank
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="presentPopover($event)">
        <ion-icon slot="icon-only" ios="ellipsis-vertical" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <h1>HOME</h1>
  <a [routerLink]="['/test1']" routerLinkActive="router-link-active">Go to Test1</a>
  
  <p>&nbsp;</p>
  
  <ion-list>
    <ion-list-header>
      Users list
    </ion-list-header>
    <ion-item *ngFor="let user of users; trackBy:trackItems" (click)="createModalWData(user)">
      <ion-label>
        <h4>{{user.name}} {{user.apellidos}}</h4>
        <p>{{user.email}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  
</ion-content>
